* {
	margin: 0px;
	padding: 0px;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	font-weight: normal;
}

article, aside, canvas, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section, summary {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	/*content:none;*/
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/* Base
---------------------------------------------------------------------*/
body {
	line-height: 1.5;
	font-size: 12px;
	color: #333;
	font-family: arial, Helvetica, sans-serif;
}

a {
	color: #329ECC;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.top-panel {
	background: rgba(0, 0, 0, 0.75);
	color: #e1e1e1;
	width: 100%;
	min-width: 800px;
	height: 60px;
	z-index: 9999;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	font-size: 20px;
	white-space: normal;
}

.top-panel .logo {
	float: none;
	width: 284px;
}

.sidebar, nav {
	display: block;
	position: fixed;
	width: 84px;
}

.sidebar {
	font-size: 16px;
	top: 60px;
	left: 0;
	background-color: #ddd;
	height: 100%;
	border: 0;
	z-index: 9999;
}

.main-tab-nav {
	padding: 8px 0 0 0;
}

.main-tab-nav li {
	padding: 8px 5px;
}

.contents-wrapper {
	padding-top: 60px;
	min-width: 600px;
	width: 80%;
}

.contents-wrapper .contents {
	padding: 25px;
}

.loading {
	display: block;
	width: 100%;
	height: 120px;
	background-image: url("../images/blue-loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.clear {
	clear: both;
}

.welocme b {
	font-weight: bold;
}

.welocme h3, .welocme h4 {
	line-height: 18px;
	margin-bottom: 10px;
	color: #4D5762;
	word-spacing: -0.1em;
	font-size: 18px;
	font-weight: bold;
}

/* Tables
---------------------------------------------------------------------*/
table.stylized {
	border-collapse: collapse;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}

table.stylized th, table.stylized td {
	line-height: 18px;
	padding: 8px 12px;
}

table.stylized th {
	background-color: #2A7AD2 !important;
	color: #fff;
	text-align: left;
}

table.stylized tr.high {
	background-color: #ffa !important;
}

table.stylized tbody th, table.stylized tbody td, table.stylized tfoot th,
	table.stylized tfoot td {
	border-bottom: solid 1px #eee;
}

table.stylized tfoot td {
	background-color: #f2f2f2 !important;
	border-bottom: 2px solid #ddd;
}

table.stylized tr:nth-child(even) td {
	
}

table.stylized tbody tr:nth-child(odd) th, table.stylized tbody tr:nth-child(odd) td
	{
	background: #FAFDFE;
}

table.stylized caption {
	margin-bottom: 1em;
	text-align: left;
	font-size: 11px;
	text-transform: uppercase;
}

table.no-style th, table.no-style td {
	line-height: 18px;
	padding: 4px 8px 4px 0;
}

table.no-style td, table.no-style th {
	background: none !important;
	color: #666;
	border-bottom: 0 none;
	border-bottom: 1px dotted #ddd !important;
}

table.no-style caption {
	margin-bottom: 0;
	text-align: left;
}
/* flot TD */
td.legendLabel {
	font-size: 11px;
	padding: 0 4px;
	vertical-align: middle;
}

/* Forms
---------------------------------------------------------------------*/
form {
	overflow: auto;
}

input:focus, textarea:focus, select:focus {
	outline-width: 0; /* No outline border for Safary */
}

input[type="text"], input[type="password"], input[type="select"], input[type="search"],
	input[type="file"], textarea, select {
	border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	color: #777;
}

textarea {
	line-height: 18px;
	overflow: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea.small {
	height: 5.5em;
}

textarea.medium {
	height: 10em;
}

textarea.large {
	height: 20em;
}

input.half, select.half, textarea.half {
	width: 50%;
}

input.full, select.full, textarea.full {
	width: 97%;
}

input.title {
	font-size: 20px;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	margin-bottom: 0;
}

input:focus, textarea:focus {
	-moz-box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	-webkit-focus-ring-color: none;
	border-color: #c4c4c4;
	background-color: #FFFFF0;
}

fieldset {
	border: 0 none;
	border-top: 1px solid #ddd;
	margin: 10px 0;
	padding: 10px 0;
	position: relative;
}

legend {
	background: #fff;
	color: #93BB3A;
	font-weight: bold;
	padding: 0 6px 0 0;
}

fieldset small {
	color: #999;
	font-size: 11px;
	display: block;
}

/* Grids
---------------------------------------------------------------------*/
.column {
	margin-left: 18px;
	display: block;
	float: left;
}

.colgroup {
	display: block;
	float: left;
}

.first {
	margin-left: 0;
	clear: left;
}

.gutter {
	margin-left: 18px;
}

.no-gutter {
	margin-left: 0;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
	text-align: right;
}

.leading {
	margin-bottom: 18px;
}

.noleading {
	margin-bottom: 0 !important;
}

.full {
	width: 100%;
}

.width1 {
	width: 108px;
}

.width2 {
	width: 234px;
}

.width3 {
	width: 360px;
}

.width4 {
	width: 486px;
}

.width5 {
	width: 612px;
}

.width6 {
	width: 738px;
}

.width7 {
	width: 864px;
}

.width8 {
	width: 990px;
}

/* Text alignment
---------------------------------------------------------------------*/
.ta-left {
	text-align: left !important;
}

.ta-center {
	text-align: center !important;
}

.ta-right {
	text-align: right !important;
}

.ta-justify {
	text-align: justify !important;
}

/* Layout
---------------------------------------------------------------------*/
.hidden {
	display: none;
}

.hidden-accessible {
	position: absolute;
	left: -99999999px;
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* clearfix in Opera */
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* end clearfix */
.zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

/* Corner radius
---------------------------------------------------------------------*/
.corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.corners-top {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.corners-bottom {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.corners-right {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.corners-left {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.corners {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/**---------------------*/
.form-css {
	padding: 15px;
}

.form-css .item-tit {
	text-align: right;
	height: 50px;
	width: 95px;
}

.form-css .input-css {
	width: 240px;
}

.form-css .direc {
	padding-left: 8px;
}

.form-css p {
	margin-top: 1em;
}

.form-css li {
	margin-top: 1em;
	float: left;
	width: 100%;
}

.form-css .lab-css {
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	text-align: right;
}

.form-css .ipt-css {
	width: 220px;
}

.form-css .prompt {
	margin-left: 5px;
}

/** Boxes
------------------------------------------------------ */
.box {
	padding: 8px;
	margin-bottom: 8px;
	color: #555;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.box-info {
	padding-left: 32px;
	border-top: 1px solid #B8E2FB;
	border-bottom: 1px solid #B8E2FB;
	background: #E8F6FF url("../images/information.png") no-repeat 8px 50%;
}

.box-warning {
	padding-left: 32px;
	border-top: 1px solid #F2DD8C;
	border-bottom: 1px solid #F2DD8C;
	background: #FFF5CC url("../images/error.png") no-repeat 8px 50%;
}

.box-error {
	padding-left: 32px;
	border-top: 1px solid #F8ACAC;
	border-bottom: 1px solid #F8ACAC;
	background: #FFD1D1 url("../images/exclamation.png") no-repeat 8px 50%;
}

.box-error-msg {
	margin-top: -8px;
	background: #FFF1F1;
	border-top: 0 none;
	border-bottom: 1px solid #FDDCDC;
	color: #664B4B;
	padding: 12px;
}

.box-error-msg ol {
	margin-top: 0;
	margin-bottom: 0;
}

.box-error-msg ol li {
	margin-top: 0;
	margin-bottom: 0;
	float: none;
}

.box-success {
	padding-left: 32px;
	border-top: 1px solid #BBDF8D;
	border-bottom: 1px solid #BBDF8D;
	background: #EAF7D9 url("../images/accept.png") no-repeat 8px 50%;
}

.box a:hover {
	background: transparent !important;
}

/* Buttons
---------------------------------------------------------------------*/
.btn {
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc !important;
	background: #fff url("../images/btn-overlay.png") repeat-x !important;
}

.btn:hover, .btn:focus, .btn:active {
	outline: medium none;
	border: 1px solid #329ECC !important;
	opacity: 0.9;
	-khtml-opacity: .9;
	-moz-opacity: 0.9;
	-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.btn-green {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #749217 !important;
	background-color: #6AB620 !important;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
	-moz-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	border: 1px solid #749217 !important;
}

.btn-blue {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #2D69AC !important;
	background-color: #3C6ED1 !important;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	-moz-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	border: 1px solid #2D69AC !important;
}

.btn-red {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #AE2B2B !important;
	background-color: #D22A2A !important;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
	-moz-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	border: 1px solid #AE2B2B !important;
}

.btn-special {
	font-size: 110%;
	width: 210px;
}

/* Page title
---------------------------------------------------------------------*/
#title {
	color: #FFF;
	font: bold 2.4em/26px 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	letter-spacing: -0.02em;
	padding: 20px 0 22px;
	text-shadow: 1px 1px 3px #111;
}

#title span {
	color: #FFC806;
}

#pagetitle {
	background-color: #5D9ADF;
	border-top: 4px solid #266DBB;
	border-bottom: 1px solid #2A7AD2;
	float: left;
	width: 100%;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(80,
		146, 220)), color-stop(0.8, rgb(107, 163, 226)));
	background: -moz-linear-gradient(center bottom, rgb(80, 146, 220) 20%,
		rgb(107, 163, 226) 80%);
}

#pagetitle h1 {
	color: #fff;
	font-size: 1.6em;
	padding: 12px 0;
	text-shadow: 0 -1px 1px #2A7AD2;
	margin: 0;
	top: 0;
	line-height: 1.2em;
	float: left;
}

#pagetitle h1 span {
	color: #C4E3FF;
}

#pagetitle input {
	border: 2px solid #5D9ADF;
	color: #666;
	float: right;
	line-height: 18px;
	margin: 10px 0 0;
	padding: 4px 24px 4px 4px;
	vertical-align: middle;
	width: 202px;
	background: #fff url("../img/search.gif") no-repeat 99% 56%;
	-moz-box-shadow: 0 0;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
}

#pagetitle input:focus {
	border: 2px solid #266DBB;
	-webkit-focus-ring-color: none;
}

#page {
	float: left;
	width: 100%;
}

#page a {
	color: #329ECC;
	text-decoration: none;
	border-bottom: 1px solid #A1CFD4;
}

#page a:hover, #page a:focus, #page a:active {
	background-color: #E2EFFF;
	border-bottom: 1px solid #329ECC;
}

#page .subtitle {
	text-transform: uppercase;
	color: #93BB3A;
	font-size: 9px;
	font-family: Tahoma, Arial, sans-serif;
}